#CenterOfPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Search-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}